<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lateralthoughts.vue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>   
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/vue_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.lateralthoughts.vue.VueApplication" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        <!-- Start of Crittercism.com Code -->
        <activity android:name="com.crittercism.NotificationActivity"/>
        <!-- End of Crittercism.com Code -->
    
        <activity android:name=".VueLandingPageActivity" 
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    
        <activity android:name=".AisleDetailsViewActivity" 
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    
    <activity android:name=".SplashScreen" android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
       <activity
            android:name="com.neem23.fashionwrap.CrashActivity"
            android:theme="@android:style/Theme.Dialog" />
    <activity android:name="com.facebook.LoginActivity" android:label="@string/app_name"/>
    <activity android:windowSoftInputMode="adjustResize|" android:name=".FeedbackForm" android:label="@string/app_name"/>
    <service android:name="com.lateralthoughts.vue.service.VueContentRestService"/>
    </application>

</manifest>